* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
  

}

header {
    width: 1400px;
    margin: auto;
   
}

.header_container {
    display: flex;
    justify-content: space-around;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 500px;

}

li {
    list-style: none;
    font-size: 25px;

}

a {
    text-decoration: none;
}



.savat {
    width: 347px;
    height: 42px;
    display: flex;
    align-items: center;
   margin-top: 37px;
}
.qidirish{
    margin-top: 37px;
    text-align: center;
}

select {
    border: 0;
    font-size: 25px;

}

main {
    background-color: whitesmoke;
    width: 1200px;
    
    margin: auto;
    border-radius: 100px;
    margin-top: 90px;
}

.main1 {
    align-items: center;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 133px;
    font-size: 400;
}

button {
    background-color: black;
    color: white;
    justify-content: center;
    width: 250px;
    height: 86px;
   margin-left: 450px;
    border-radius: 30px;
    font-size: 30px;
   margin-bottom: 70px;
   font-weight: 700;
}

.main2{
    margin-top: px;
}
.text{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}

p{
    font-size: 20px;
}
.rasm2{
    width: 300px;
    height: 300px;
    display: flex;
    text-align: center;
}
.main3{
    margin-top: 150px;

}

.rasm3 {
    justify-content: space-around;
    display: flex;
   
}
.rasm3 img {
    width: 400px;
  
}

 

.ra{
    text-align: center;
    font-size: 20px;
    
  
}

.btn1{
    width: 182px;
    height: 40px;
    border-radius: 30px;
   
    margin-right: 450px;

   
}

.o{
    font-size: 100px;
   

}

.main4{
    text-align: center;


}

.main4 img {
    width: 1150px;
    height: 400px;
}

footer{
    width: 1200px;
    background-color:whitesmoke ;
    margin: auto;
    margin-top: 120px;
 
}
.footer_container{
   
    justify-content: space-around;
}
.abu{
    display: flex;
    justify-content: space-between;
   
}

.a{
    font-size: 20px;
}

.iii img {
    width: 285px;
    height: 433px;
  
}
.q{
    margin-top: 80px;
}

li{
   margin: 20px 0;
}

.x{
   font-size: 30px;
   margin: auto;
   text-align: center;
}
.y{
    margin-left: 340px;
}
.d{
    width: 700px;
   margin: auto;
    text-align: center;
    color: black;
    
  
}